:root {
    --setTrunc : 0;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #f1f1f1;
}

.top__heading{
    background-color: #fff;
    padding: 20px;
    border-bottom: 1px solid #ccc;
    text-align: center;
}

.top__heading > h1{
    font-size: 30px;
    font-weight: 600;
    color: #333;
    text-align: center;
}

.top__heading > p{
    font-size: 14px;
    color: #333;
    text-align: center;
}

/* select id news and style */
#news{
    background-color: #fff;
    padding: 20px;
    border-bottom: 1px solid #ccc;
}

.card {
    margin-left: 15vw;
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 70vw;
    height: 100%;
    background-color: #fff;
    border-radius: 1em;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-bottom: 20px;
    overflow: hidden;
    transition: box-shadow 1s;
}

.card:hover {
    box-shadow: 0 0 20px rgba(245, 1, 1, 0.764);
    transition: box-shadow 1s;
}

.card-image {
    max-width: 20vw;
    grid-row: 1/3;
}

.card-content {
    margin-top: 1em;
}

.card-image > img {
    max-width: inherit;
}
.card {
    font-size: 1.5em;
}
.card .card_image{
    width: 100%;
    height: 200px;
    overflow: hidden;
}
.card .card_image > img{
    width: 10%;
    height: 10%;
    object-fit: cover;
}

.card .card_title{
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
    color: #333;
    text-align: center;
}

@media (max-width : 1000px) {
    :root {
        --setTrunc : 1;
    }
    
    .card {
        border-radius: .5em;
        width: 100%;
        margin-left: 0;
        grid-template-columns: none;
        font-size: 1.2em;
    }
    .card-image {
        max-width: 90vw;
        grid-row: 1/2;
    }
    .card-content {
        grid-row: 2/3;
    }
    .card-action {
        grid-row: 3/4
    }
}

